* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 5vh;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #333333;
}

.logo-icon {
  width: 100px;
  margin-right: 3vw;
  vertical-align: none;
}

.search-form {
  width: 20vw;
  display: flex;
  margin-right: 5vw;
  vertical-align: bottom;
}

.search-form>.input-box {
  width: 100%;
  padding-left: 10px;
}

.search-button {
  width: 30px;
  border: 0;
  cursor: pointer;
  background-color: #003C88;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.lists {
  display: flex;
  min-width: 150px;
  line-height: 10vh;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.category-list {
  margin-right: 3vw;
}


.user-icon {
  width: 5vh;
  height: 5vh;
  vertical-align: none;
}

.material-icons {
  font-size: 32px;
  line-height: 10vh;
  cursor: pointer;
}

#open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.9;
  text-align: center;
  padding: 60px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}
  
.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
}
    

  .overlay li {
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transform .3s;
    margin-bottom: 10px;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }

  .map.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, transform .3s;
  }